*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { 
    font-family: "Mulish", sans-serif;

}
/* header css start from here */
header {
    margin: 52px 127px 49px 127px;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo h1{
    margin-left: 7px;
    font-size: 36px;
    font-weight: 800;
    color: #131318;
}
.nav-logo span {
    color: #FF5400;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    margin-right: 44px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #424247;
}
.bars{
    display: none;
}
/* end here header nav css from here and start the banner css */
.banner-container{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('./Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    border-radius: 16px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-content h1{
    font-size: 64px;
    font-weight: 800;
    color: #fff;
}
.banner-content p{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-top: 24px;
}
.banner-input-filed {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    margin-top: 64px;
    background: rgba(255, 255, 255, 0.30);
    padding: 12px;
    border-radius: 8px;
}
.banner-filed input, select {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: 0;
}
.banner-filed input::placeholder{
    margin-left: 10px;
}
.banner-filed input, select:focus{
    outline: none;
}
.banner-input-filed button{
    background-color: #FF5400;
    padding: 16px 23px;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border: 0;
}
.banner-input-filed i {
    margin-right: 12px;
}
/* banner css end from here and start the popular section css */
.popular-container{
    margin: 100px 127px 100px 127px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular-container img{
    width: 100%;
}
.popular-content {
    margin-right: 20px;
}
.popular-content h1{
    font-size: 40px;
    font-weight: 800;
    color: #131318;
    margin-bottom: 24px;
}
.popular-content p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.70);
    margin-bottom: 24px;
}
.popular-content button {
    background-color: #FF5400;
    padding: 16px 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 800;
    border: 0;
    border-radius: 8px;
    letter-spacing: 2px;
}
/* end the popular section css and start the destination css */
.destination-container{
    margin: 0px 127px 100px 127px;
}
.destination-content{
    width: 643px;
    margin: 0 auto;
    text-align: center;
}
.destination-content h1{
    font-size: 40px;
    font-weight: 800;
    color: #131318;
}
.destination-content p{
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.70);
}
.first-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.destination-img {
    position: relative;
}
.destination-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.destination-title h3{
    font-size: 24px;
    font-weight: 800;
    color: #fff;
}
.destination-img img {
    width: 100%;
    height: 286px;
}
.second-img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
    margin: 24px 0px 24px 0px;
}
.third-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.destination-last-img{
    width: 673px !important;
}
/* end here the destination css and start the why choose us section css*/
.choose-container{
    margin: 0px 127px 0px 127px;
}
.choose-content{
    text-align: center;
}
.choose-content h1{
    font-size: 40px;
    font-weight: 800;
    color: #131318;
    margin-bottom: 20px;
}
.choose-content p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.70);
    width: 643px;
    margin: 0 auto;
}
.choose-box-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}
.choose-box h1{
    font-size: 24px;
    font-weight: 800;
    color: #131318;
}
.choose-box p{
    font-size: 16px;
    font-weight: 400;
    color: #5A5A5D;
}
.choose-box{
    padding: 32px;
}
.box-1{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.box-2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.box-3{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);

}
    /* end css choose section css and start the deals & discount section css */
.deals-container{
    margin: 100px 127px 100px 127px;
}
.deals-content{
    text-align: center;
}
.deals-content h1{
    font-size: 40px;
    font-weight: 800;
    color: #131318;
}
.deals-content p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.70);
    margin: 20px 0px 20px 0px;
}
.first-deals-container{
    background-image: url('./Images/Group\ 39.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    
}
.deal-main-container{
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    float: right;
    margin-top: 56px;
    margin-bottom: 56px;
    margin-right: 56px;
}

.deals-details{
    display: flex;
    align-items: center;
    margin: 50px;
}
.deals-details div{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.deals-details div i{
    color: #FF5400;
}
.deals-details div > p{
    margin-left: 12px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.bottom-content{
    margin: 50px;
}
.bottom-content h1{
    font-size: 24px;
    font-weight: 800;
    color: #131318;
    margin-bottom: 16px;
}
.bottom-content p{
    font-size: 16px;
    font-weight: 400;
    color: #5A5A5D;
    margin-bottom: 16px;
}
.bottom-content h3{
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 14px;
}
.bottom-content button {
    background-color: #FF5400;
    padding: 16px 23px;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    cursor: pointer;
}
.second-deals-container{
    background-image: url('./Images/Group\ 40.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.second-main-container {
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    float: left;
    margin-top: 56px;
    margin-bottom: 56px;
    margin-left: 56px;
}
.btn{
    width: 174px;
    margin: 0 auto;
}
.btn button {
    background-color: #FF5400;
    border-radius: 8px;
     width: 174px;
    height: 52px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    cursor: pointer;
}
.video{
    width: 610px;
    height: 424px;
}
/* end the place css and start the newsletter css */
.newsletter-container{
    margin: 100px 127px 100px 127px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.newsletter-form{
    padding: 20px;
    height: 410px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    margin-right: 20px;
}
.newsletter-content{
    margin-top: 25px;
}
.newsletter-content h1{
    font-size: 24px;
    font-weight: 800;
    color: #131318;
}
.newsletter-content p{
    font-size: 16px;
    font-weight: 400;
    color: #5A5A5D;
    margin-top: 12px;
    margin-bottom: 24px;
}
.newsletter-filed {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.newsletter-filed input {
    margin-bottom: 16px;
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
}
.newsletter-filed input:focus{
    outline: none;
}
.newsletter-filed input[type="submit"]{
    background-color: #FF5400;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.newsletter-img img{
    width: 100%;
    position: relative;
}
.newsletter-img{
    
}
.travel-striker{
    position: absolute;
    bottom: 8px;
    left: 16px;
}
footer{
    text-align: center;
}
.footer-subtitle{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    color: #5A5A5D;
}
.footer-icons{
    margin-top: 33px;
}
.footer-icons a i {
    margin-right: 23px;
    text-decoration: none;
    color: #424247;
    margin-bottom: 50px;
}
hr{
    width: 872px;
    height: 1px;
    margin: 0 auto;
}
.footer-rights{
    margin-top: 50px;
    margin-bottom: 12px;
}
/*  */
/* Responsive for mobile css start from here */
@media screen and (max-width: 600px) {
    header {
        margin: 20px 20px 20px 20px;
    }
    nav{
        display: none;
    }
    .bars {
        display: block;
        text-decoration: none;
        color: #424247;
        width: 25px;
        height: 24px;
    }
    .nav-logo h1{
        font-size: 21px;
    }
    /* nav css end from  here and banner css start from here */
    .banner-content{
        margin-top: 25px;
    }
    .banner-content h1{
        font-size: 22px;
    }
    .banner-content p{
        width: 304px;
        margin: 0 auto;
    }
    .banner-input-filed {
        flex-direction: column;
        gap: 16px;
        margin-bottom: 32px;
        background: rgba(255, 255, 255, 0.30);
        padding: 12px;
        border-radius: 8px;
    }
    .banner-filed input, select {
        width: 287px;
    }
    .banner-input-filed button{
        width: 287px;
        text-align: center;
    }
    /* banner css end from here and start the popular tours section */

    .popular-container{
        margin: 24px 20px 20px 20px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .popular-container img{
        margin-top: 24px;
    }
    /* end the popular section css and start destination css */
    .destination-container{
        margin: 20px 20px 20px 20px;
    }
    .first-img{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 24px;
    }
    .destination-content{
        width: 309px;
        margin-top: 20px;
    }
    .destination-content h1{
        font-size: 20px;
    }
    .destination-content p{
        font-size: 14px;
    }
    .second-img{
        grid-template-columns: repeat(1,1fr);
    }
    .third-img{
        grid-template-columns: repeat(1,1fr);
    }
    .destination-last-img{
        width: 100% !important;
    }
    /* end here destination css and start the why choose us section css */
    .choose-container{
        margin: 20px;
    }
    .choose-content h1{
        font-size: 20px;
    }
    .choose-content p{
        font-size: 14px;
        width: 309px;
    }
    .choose-box-container{
        grid-template-columns: repeat(1,1fr);
    }
    .choose-box h1{
        font-size: 20px;
    }
    .choose-box p{
        font-size: 14px;
    }
    /* end css choose section css and start the deals & discount section css */
    .deals-container{
        margin: 20px;
    }
    .deals-content h1{
        font-size: 20px;
    }
    .deal-main-container{
        width: 303px;
        height: 370px;
        float: right;
        margin-top: 95px;
        margin-right: 30px;
    }
    .second-main-container{
        width: 303px;
        height: 370px;
        float: right;
        margin-top: 95px;
        margin-right: 30px;
    }
    .deals-details{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 20px;
        justify-content: center;
        align-items: center;
    }
    .bottom-content{
        margin: 16px;
    }
    .video{
        width: 335px;
        height: 200px;
        margin-top: 24px;
    }
    .popular-content h1{
        font-size: 20px;
    }
    /* end the css */
    /* newsletter css */
    .newsletter-container{
        margin: 20px;
        flex-direction: column;
    }
    .newsletter-form {
        height: 425px;
        border-radius: 16px;
        border: 1px solid #FF5400;
    }
    .newsletter-filed input {
        margin-bottom: 16px;
        width: 309px;
        height: 52px;
        border-radius: 8px;
        background: rgba(19, 19, 24, 0.05);
        border: 0;
    }
    .newsletter-img img{
        margin-top: 40px;
    }
    footer{
        margin: 100px 20px 20px 20px;
    }
}